HomerOdysseyODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD File for Homer's Odyssey</title>
      </titleStmt>
      <publicationStmt>
        <publisher>Claire Zak, Texas A&amp;M University</publisher>
        <availability>
          <p>This is an open access work licensed under a Creative Commons Attribution 4.0 International license.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Born Digital</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="oddex1" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates"/>
        <elementSpec module="namesdates" ident="persName" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="opt">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed" mode="change">
                <valItem ident="deity"></valItem>
                <valItem ident="author"></valItem>
                <valItem ident="translator"></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
       
        <elementSpec ident="persName" module="namesdates" mode="change">
          <constraintSpec ident="ref-on-persName" scheme="schematron">
            <constraint>
              <sch:rule context="tei:persName">
                <sch:let name="personRef" value="doc('https://raw.githubusercontent.com/czak79/HIST630/main/OdysseyStandoffMarkup.xml')"/>
                <sch:let name="personIDs"
                  value="$personRef//tei:person/@xml:id"/>
                <sch:let name="error" value ="."/>
                <sch:assert test=" @ref = $personIDs" role="warning">
                  <sch:value-of select="$error"/> is not currently in use.
                </sch:assert>        
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
        
        <elementSpec ident="placeName" module="namesdates" mode="change">
          <constraintSpec ident="ref-on-placeName" scheme="schematron">
            <constraint>
              <sch:rule context="tei:placeName">
                <sch:let name="placeRef" value="doc('https://raw.githubusercontent.com/czak79/HIST630/main/OdysseyStandoffMarkup.xml')"/>
                <sch:let name="placeIDs"
                  value="$placeRef//tei:place/@xml:id"/>
                <sch:let name="error" value ="."/>
                <sch:assert test=" @ref = $placeIDs" role="warning">
                  <sch:value-of select="$error"/> is not currently in use.
                </sch:assert>        
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
      
      <elementSpec ident="orgName" module="namesdates" mode="change">
        <constraintSpec ident="ref-on-orgName" scheme="schematron">
          <constraint>
            <sch:rule context="tei:orgName">
              <sch:let name="orgRef" value="doc('https://raw.githubusercontent.com/czak79/HIST630/main/OdysseyStandoffMarkup.xml')"/>
              <sch:let name="orgIDs"
                value="$orgRef//tei:organization/@xml:id"/>
              <sch:let name="error" value ="."/>
              <sch:assert test=" @ref = $orgIDs" role="warning">
                <sch:value-of select="$error"/> is not currently in use.
              </sch:assert>        
            </sch:rule>
          </constraint>
        </constraintSpec>
      </elementSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>
